{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

    {% load crispy_forms_tags %}

    <header class="container inicio">
        <h2>Ingresar al sistema</h2>
        <form class="px-4 py-3" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary float-end">Ingresar</button>
        </div>
        </form>
    </header>

</body>
</html>