{% extends 'layout.html' %}
{% block title %}Nueva Prenda{% endblock %}
{% block content %}
<main class="container">
    <h1>Nueva Prenda</h1>
    <div class="alert alert-dark" role="alert">
        <h6>ATENCIÓN: No cargar Pantalón ni Saco. Ya que eso se carga en Trajes.</h6>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="campo">
            <label for="categoria">Categoría</label>
            <select id="categoria" name="categoria_id" class="form-control" required>
                <option value="" disabled selected>Seleccione una categoría</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="campo">
            <label for="color">Color de la prenda</label>
            <select id="color" name="color_id" class="form-control" required>
                <option value="" disabled selected>Seleccione un color</option>
                {% for color in colores %}
                    <option value="{{ color.id }}">{{ color.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="campo">
            <label>Descripción</label>
            <input type="text" class="form-control" name="descripcion" placeholder="Descripción">
        </div>
        <div class="campo">
            <label for="busto">Busto</label>
            <input type="number" id="busto" name="busto" class="form-control" placeholder="Busto">
        </div>
        <div class="campo">
            <label for="cintura">Cintura</label>
            <input type="number" id="cintura" name="cintura" class="form-control" placeholder="Cintura">
        </div>
        <div class="campo">
            <label for="cadera">Cadera</label>
            <input type="number" id="cadera" name="cadera" class="form-control" placeholder="Cadera">
        </div>
        <div class="campo">
            <label for="largo">Largo(cm)</label>
            <input type="number" id="largo" name="largo" class="form-control" placeholder="Largo">
        </div>
        <div class="campo">
            <label for="talle">Talle</label>
            <input type="text" id="talle" name="talle" class="form-control" placeholder="Talle">
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
</main>
{% endblock %}