{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Graciela Ferrer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'prendas' %}">Prendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'trajes' %}">Trajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_alquileres' %}">Alquileres</a>
        </li>
      </ul>
      <span class="navbar-text">
        Usuario actual: {{ user.username }} |
        <a href="{% url 'salir' %}">Cerrar Sesión</a>
      </span>
      {% else %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'clientes' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'prendas' %}">Prendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'trajes' %}">Trajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'lista_alquileres' %}">Alquileres</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="nav-link active" href="{% url 'login' %}">Iniciar Sesión</a>
      </span>
      {% endif %}
    </div>
  </div>
</nav>

<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>