{% extends 'layout.html' %}
{% load static %}
{% block title %}Registrar Alquiler{% endblock %}
{% block content %}
<main class="container">
    <br>
    <h1>Registrar Alquiler</h1>
    <form method="post">
        {% csrf_token %}
        <div class="campo">
            <label for="cli">Cliente</label>
            <input id="cli" type="text" list="clientes_list" class="form-control" placeholder="nombre o apellido">
            <datalist id="clientes_list">
            {% for cliente in clientes %}
                <option value="{{ cliente.id }} {{ cliente.nombre }} {{ cliente.apellido }}">
            {% endfor %}
            </datalist>
        </div>
        <div class="campo">
            <label for="prenda">Prenda</label>
            <input id="prenda" type="text" list="prendas_list" class="form-control" placeholder="cod, categoría o color">
            <datalist id="prendas_list">
            {% for prenda in prendas %}
                <option value="{{ prenda.id }} {{ prenda.categoria }} {{ prenda.color }}">
            {% endfor %}
            </datalist>
        </div>
        


        
    </form>
</main>
{% endblock %}